<div class="korean_zipcode_finder_modal_wrapper">
	<div class="zipcode_box modal">
		<div class="modal-header">
			<button class="close_modal_popup close" data-dismiss="modal" type="button">×</button>
			<h3>우편번호 찾기</h3>
			<%= form_tag("/korean_zipcode_finder/zipcodes/search", :method => 'get', :class => "find_zipcode_form well form-inline") do %>
			  <%= label_tag "동/읍/면" %>
			  <%= text_field_tag "dong" %>
			  <%= submit_tag '우편번호 찾기', :class => "btn btn-primary find_zipcode_submit" %>
			<% end %>
		</div>

		<div class="modal-body">
			<table class="table table-striped">
				<tbody class="zipcode_list_box">
					<%#= 'place for search list' %>
				</tbody>
			</table>
	 </div>

	 <div class="modal-footer">
	 	<a class="btn close_modal_popup" data-dismiss="modal" href="#">닫기</a>
	 </div>
	</div>
</div>