<% if @zipcodes.present? %>

  <% @zipcodes.each_with_index do |zipcode, i| %>
    <tr class="zipcode_node">
    	<td>
    		[<%= zipcode.zipcode_01 %>-<%= zipcode.zipcode_02 %>]
    	</td>
    	<td>
        <%= link_to zipcode.original_address, '#', :class => 'zipcode_select', "data-zipcode01" => zipcode.zipcode_01, "data-zipcode02" => zipcode.zipcode_02, "data-address01" => zipcode.address %>
    	</td>
    </tr>
  <% end %>

<% else %>

  <tr class="no_zipcode_found">
  	<td>
  		검색된 우편번호가 없습니다.
  	</td>
  </tr>

<% end %>


