/* popup modal basic */
.modal_bg {
  background-color: black;
  opacity: 0.7;
  filter: alpha(opacity=50);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4000;
}

.modal_wrapper {
  position: fixed;
  top: 30px;
  left: 30%;
  z-index: 4001;
  background: #FFF;
}

/* zipcode modal box */
.zipcode_box {
  width: 500px;
  height: 300px;
  border: 2px solid grey;
  padding: 10px;
}

.zipcode_box .zipcode_list_box {
  height: 230px;
  padding: 10px;
  border: 1px solid;
  overflow: scroll;
}
